

.infos_img-text{
    display: flex;
}

.infos-serie{
    display: flex;
    flex-direction: column;
}

.foto-dealhes{
    width: 300px;
    height: 500px;
   
}


.nota-imdb{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    font-weight: bold;
    font-size: 25px;
}
.sinopse{
    font-size: 17px;
    margin-top: 2%;
    color: aliceblue;
}

.estrelas{
  width: 350px;
}


.infos_serie{
    display: flex;
    margin-left: 40px;
    margin-top: 10%;
    
}

.foto-dealhes{
    width: 300px;
}

.infos_serie_superior{
    margin-left: 10px;
}



.titulo-detalhes{
    font-size: 70px;
    font-weight: bold;
    
}

.subtitulo-detalhes{
    margin-top: 10px;
    font-size: 15px;
    color: rgb(214, 0, 0);
    font-weight: bold;
}


.pag_play{
    
   
    text-align: center;
}
.temps-frame{
   margin-top: 5%;
   width: 90%;
   height: 500px;
   margin: 0 auto;
}




.pag-play_tittle{
    font-size: 35px;
    font-weight: bold;
    margin-top: 10%;
    padding: 20px;
}




@media screen and (min-width: 1023px) and (max-width: 2000px) {

    
   
    .nota-imdb{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        font-size: 20px;
    }
    .estrelas{
        width: 230px;
       
    }

    .nota{
        padding: 10px;
    }
    
    .pag_play{
        margin-top: -12%;

    }
    
    .foto-dealhes{
        width: 250px;
        height: 400px;    }
    .infos_serie{
        
        margin-left: 2%;
        margin-top: 5%;
        
    }


    

    .titulo-detalhes{
        font-size: 45px;
        margin-top: 4%;
    }

    .subtitulo-detalhes{
        font-size: 20px;
    }

    .temps-frame{
        height: 500px;
        width: 850px;
    }

  .infos_serie{
    margin-left: 7%;
  }



}


