


.foto-dealhes{
    width: 300px;
    height: 500px;
   
}

.nota-imdb{
    text-align: center;
}

.nota-imdb{
    margin-top: 10%;
    font-weight: bold;
}
.sinopse{
    font-size: 14px;
    margin-top: 2%;
    color: aliceblue;
}

.estrelas{
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-top: -30%;
}


.infos_serie{
    display: flex;
    margin-left: 40px;
    margin-top: 10%;
    
}

.foto-dealhes{
    width: 300px;
}

.infos_serie_superior{
    margin-left: 10px;
}



.titulo-detalhes{
    font-size: 70px;
    font-weight: bold;
    
}

.subtitulo-detalhes{
    margin-top: 10px;
    font-size: 40px;
    color: rgb(214, 0, 0);
    font-weight: bold;
}


.pag_play{
    
   
    text-align: center;
}
.temps-frame{
   margin-top: 5%;
   width: 90%;
   height: 500px;
   margin: 0 auto;
}




.pag-play_tittle{
    font-size: 35px;
    font-weight: bold;
    margin-top: -10%;
    padding: 20px;
}




@media screen and (min-width: 1023px) and (max-width: 2000px) {

    
    .nota-imdb{
        text-align: center;
    }
    
    .nota-imdb{
        
    }
    .estrelas{
        display: flex;
        text-align: center;
        margin: 0 auto;
        margin-top: -23%;
    }
    
    .pag_play{
        margin-top: -12%;

    }
    
    .foto-dealhes{
        width: 250px;
        height: 400px;    }
    .infos_serie{
        
        margin-left: 2%;
        margin-top: 5%;
        
    }


    

    .titulo-detalhes{
        font-size: 45px;
        margin-top: 4%;
    }

    .subtitulo-detalhes{
        font-size: 20px;
    }

    .temps-frame{
        height: 800px;
        width: 1400px;
    }


}


