@import url(header.css);
@import url(film-info.css);
@import url(reprodutor.css);
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Poppins:ital,wght@0,600;1,600&display=swap');



body{
    background-color: rgb(46, 46, 46);
    color: white;
    font-family: 'Kanit', sans-serif;
}


body{
    background-color: rgb(46, 46, 46);
    color: white;
    font-family: 'Kanit', sans-serif;
}