
.infos_serie{
    display: flex;
    margin-left: 10px;
    margin-top: 10%;
    
}

.infos_serie_superior{
    margin-left: 10px;
}



.titulo-detalhes{
    font-size: 70px;
    font-weight: bold;
    
}

.subtitulo-detalhes{
    margin-top: 10px;
    font-size: 40px;
}


.temporadas{
    margin-left: 10px;
}



.titulo_secao-temporadas{
    font-size: 54px;
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
    margin-bottom: 20px;
    

}

.temporadas_texto{
   
    display: flex;
    flex-direction: row;
    border: solid 2px white;
    
    
}

.numero-temporada{
    font-size: 35px;
    border: solid 1px ;
    padding: 6px;
    align-items: center;
    cursor: pointer;

}

.mais{
    float: right;
    margin-top: 4px;
}


.temporada_eps{
    display: none;
}

.episodio {
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.fotos-eps{
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}



.nome-ep {
    margin-left: 10px; /* Adapte o valor conforme necessário */
    font-size: 30px;
}

.nome-ep:hover {
    color: rgb(214, 0, 0);
    transition: 0.8s all;
}

