.secoes_filmes{
    margin-left: 15px;
    
}

.bombando, .series, .top-filmes, .lancamentos, .para-voce, .top-series, .comedia {
    margin-bottom: 20px; /* Você pode ajustar o valor conforme necessário */
  }


.title_secoes{
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    
}

.img-series{
    width: 200px;
    height: 280px;
    margin-right: 5px;
}

.img-seriess{
    height: 120px;
}

.img-series:hover {
    transform: scale(1.1); /* Aumenta a escala em 10% */
    transition: transform 0.2s; /* Adiciona uma transição suave */
  }
.img-series-10:hover {
    transform: scale(1.1); /* Aumenta a escala em 10% */
    transition: transform 0.2s; /* Adiciona uma transição suave */
  }

.img-series-10{
    width: 100px;
    margin-right: 5px;
}


.left_btn, .right_btn{
    background-color: transparent;
   
    color: white;
    cursor: pointer;
    font-weight: bold;
    float: right;
    
    
    
}

.left_btn{
    margin-right: 5px;
}






.nmr_top10{
    font-weight: bold;
    font-size: 130px;
    border: solid 1px white;
    
    
}



/* CONFIGURAÇÃO DO CARROSSEL */

.projeto-carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    white-space: nowrap;
    cursor: pointer;
}
.img-series { 
    scroll-snap-align: start;
    border-radius: 10px;
    margin-right: 10px;
}
.projeto-navigation {
    display: flex;
    justify-content: space-between;
}


.projeto-carousel::-webkit-scrollbar {
    display: none;
}


.nav-arrow{
    display: none;
}

  

@media screen and (min-width: 1023px) and (max-width: 2000px) {

    .title_secoes{
        font-size: 30px;
    }

    .img-series{
        width: 320px;
        margin-right: 13px;
        
    }
    

    .img-series-10{
        width: 150px;
        margin-right: 5px;
     
    }

    .nmr_top10{
        font-weight: bold;
        font-size: 230px;
        border: solid 1px white;
        
        
    }

    .img-series{
        width: 320px;
        height: 440px;
        margin-right: 5px;
    }
    
    .img-seriess{
        height: 180px;
    }
    
    
}